<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e9d2102a-7506-4978-a586-e717244f10db/resourceGroups/eg-taskmanager-eastus-dve-001/providers/Microsoft.Web/sites/app-taskmanager-eastus-dev-001</ResourceId>
    <ResourceGroup>eg-taskmanager-eastus-dve-001</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://app-taskmanager-eastus-dev-001.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>b67886c4-b271-4bea-9b19-005c7cc090f7</ProjectGuid>
    <MSDeployServiceURL>app-taskmanager-eastus-dev-001.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>app-taskmanager-eastus-dev-001</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>tandat2106tn</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAffSsGM4ixE2DGBNxsyR7AwAAAAACAAAAAAAQZgAAAAEAACAAAACfiZHKy+Bem9WuTtVk6NqSz0Ut5d0VZf+Nsu3Ty3RW8AAAAAAOgAAAAAIAACAAAADVoMiTfP4McsVTsqIG22idYlAFmWf6jmeDwBsgrHH+NCAAAAA799qgSxn3N4WFLmy6SlPsyXVv1KkG0q0rnlQMJvw6hEAAAACqp+2/hT7u6aQXnl4kxUDCMeOZVjcDjqqSjMFG7JS4aagix3HTvKQlBx70QtTsreHbGz8G189K53WYdkHXpov+</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <ApiResourceId>/subscriptions/e9d2102a-7506-4978-a586-e717244f10db/resourceGroups/eg-taskmanager-eastus-dve-001/providers/Microsoft.ApiManagement/service/TaskManagertestapi/apis/TaskManager</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>